/*
INSTRUCTIONS
1. Make a copy of this codepen (you may have to create a free codepen account to do so)
2. Using CSS properties alone, make the HTML button match as closely as possible, the image provided. 
3. Do not add or modify the HTML in any way
4. Don't worry if it's not 100% perfect, get as close as you can
3. Provide a link to your codepen
*/

button {
    margin-left: 1em;
    position: relative;
    background: rgb(179, 179, 179);
    background: linear-gradient(0deg, rgba(179, 179, 179, 1) 33%, rgba(215, 215, 215, 1) 61%);
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: #555;
    padding: 15px 48px;
    border-color: blue;
    outline: none;
    box-shadow: 0 0 0 5px #cbcbcb;
    border: 1px solid #878787;
    outline: 2px solid #666666;
    outline-offset: 7px;
    border-radius: 14px;
}

button::before,
button::after {
    position: absolute;
    content: '★';
    /* right: 2; */
    color: #888888;
    line-height: 1;
}

button::after {
    right: 16px;
}

button::before {
    left: 16px;
}